header {
    color: black;
    border: 1px solid black;
    
}



body {
    background-color: bisque;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.flex {
    display: flex
}

.column {
    flex-direction: column;
}

.margin-0-auto {
    margin: 0 auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;

}

.width-80 {
    width: 80%;
}

#content {
    border: 1px solid black;
    border-top: 0;
}

p {
    width: 80%;
    margin: 10px;
}




nav {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px; 
    justify-items: center;
}
  
nav button {
    padding: 5px;
    text-align: center;
    width: 50px;
    background-color: bisque;
    border: black 1px solid;
    border-bottom: none;
    
    }


